.d-flex.mb-2
  - if todo_item.completed?
    .mr-3
      = link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do
        %i.fa.fa-check{:style => "opacity: 0.4;"}
    .flex-grow-1
      %p{:style => "opacity: 0.4;"}
        %strike= todo_item.content
    .mr-3
      = link_to reopen_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do
        %i.fa.fa-reply
    .trash
      = link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do
        %i.fa.fa-trash
  - else
    .mr-3
      = link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do
        %i.fa.fa-circle-thin
    .flex-grow-1
      %p= todo_item.content
    .trash
      = link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do
        %i.fa.fa-trash
