%p#notice= notice

- flash.each do |type, msg|
  .alert.alert-info.mb-3= msg

.card
  .card-body
    %h2= @todo_list.title
    %p= @todo_list.description
    .mb-4
      = render @todo_list.todo_items
    = render "todo_items/form"
    .d-flex.justify-content-center.mt-3
      .links
        = link_to 'Edit', edit_todo_list_path(@todo_list), class: "mr-2"
        = link_to 'Delete', todo_list_path(@todo_list), method: :delete, data: { confirm: "Are you sure?" }, class: "mr-2"
        = link_to 'Back', todo_lists_path, class: "mr-2"
