.mb-2
  = link_to todo_lists_path, class: "back-link" do
    %i.fa.fa-chevron-left.mr-1
    %span Back
.card
  .card-body
    .mb-4
      .d-flex.justify-content-between.align-items-center.mb-2
        %h2= @todo_list.title
        .d-flex
          = link_to 'Edit', edit_todo_list_path(@todo_list), class: "btn btn-outline-secondary mr-2"
          = link_to 'Delete', todo_list_path(@todo_list), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger mr-2"
      %p= @todo_list.description
    .mb-4
      = render @todo_list.todo_items
    = render "todo_items/form"
