!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Todo app RoR
    = stylesheet_link_tag 'bundle_application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap", :rel => "stylesheet"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
  %body
    .container.app
      - flash.each do |type, msg|
        .alert.alert-info.mb-3.js-alert= msg
      = yield
